.sampul {
    width: 120px;
    align-items: center;
}

.table > thead {
    text-align: center;
}

.table > tbody > tr > * {
    vertical-align: middle;
    text-align: center;
}

.card img {
    padding: 10px;
    width: 100%;
    height: 180px;
    /* object-fit: cover; */
}